#font{
    color: rgb(221, 20, 87);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 30px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 50%;
}
.button{
    background-color: rgb(241, 19, 93);
    color: white;
    padding:15px;
    border-radius: 4px;  
}
section{
    height: 500px;
}
.half{
    width: 20%;
    float: left;
    margin-left: 7%;
}
.half img{
    width: 100%;
    
}
.center{
    text-align: center;
}